.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 310px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
/** Para tela Mobile */
@media (min-width: 959px) {
  .sidenav {
    display: none;
  }
}

.mat-toolbar.mat-primary {
  background: #dc3545!important;
  color: white;
}

/** Para tela PC */
@media (min-width: 1000px) {
  .titulo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  background: #dc3545!important;
  color: white;
}

.conteudo {
  display: flex;
  height: 100%;
}

.conteudo-rotativo {
  width: 100%;
  padding: 30px;
}
