<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="titulo">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="texto">Templarios</span>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="conteudo">
      <app-menu-nav-bar></app-menu-nav-bar>
      <div class="conteudo-rotativo">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
  <app-menu-nav-bar></app-menu-nav-bar>
</mat-sidenav-container>
